// ::footer_part start::
footer.footer_part
    .container
        .row.justify-content-around
            .col-sm-6.col-lg-2
                .single_footer_part
                    h4 Top Products
                    ul.list-unstyled
                        li
                            a(href="") Managed Website
                        li
                            a(href="") Manage Reputation
                        li
                            a(href="") Power Tools
                        li
                            a(href="") Marketing Service
            .col-sm-6.col-lg-2
                .single_footer_part
                    h4 Quick Links
                    ul.list-unstyled
                        li
                            a(href="") Jobs
                        li
                            a(href="") Brand Assets
                        li
                            a(href="") Investor Relations
                        li
                            a(href="") Terms of Service
            .col-sm-6.col-lg-2
                .single_footer_part
                    h4 Features
                    ul.list-unstyled
                        li
                            a(href="") Jobs
                        li
                            a(href="") Brand Assets
                        li
                            a(href="") Investor Relations
                        li
                            a(href="") Terms of Service
            .col-sm-6.col-lg-2
                .single_footer_part
                    h4 Resources
                    ul.list-unstyled
                        li
                            a(href="") Guides
                        li
                            a(href="") Research
                        li
                            a(href="") Experts
                        li
                            a(href="") Agencies
            .col-sm-6.col-lg-4
                .single_footer_part
                    h4 Newsletter
                    p
                        | Heaven fruitful doesn&apos;t over lesser in days. Appear creeping
                    #mc_embed_signup
                        form.subscribe_form.relative.mail_part(target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01" method="get")
                            input#newsletter-form-email.placeholder.hide-on-focus(type="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = ' Email Address '")
                            button#newsletter-submit.email_icon.newsletter-submit.button-contactForm(type="submit" name="submit") subscribe
                            .mt-10.info
    .copyright_part
        .container
            .row
                .col-lg-8
                    .copyright_text
                        p
                            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                            | Copyright &copy;
                            script.
                                document.write(new Date().getFullYear());
                            |  All rights reserved | This
                            |                                 template is made with 
                            i.ti-heart(aria-hidden="true")
                            |  by 
                            a(href="https://colorlib.com" target="_blank") Colorlib
                            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                .col-lg-4
                    .footer_icon.social_icon
                        ul.list-unstyled
                            li
                                a.single_social_icon(href="#")
                                    i.fab.fa-facebook-f
                            li
                                a.single_social_icon(href="#")
                                    i.fab.fa-twitter
                            li
                                a.single_social_icon(href="#")
                                    i.fas.fa-globe
                            li
                                a.single_social_icon(href="#")
                                    i.fab.fa-behance
// ::footer_part end::
