// ::header part start::
header.main_menu.home_menu
    .container
        .row.align-items-center
            .col-lg-12
                nav.navbar.navbar-expand-lg.navbar-light
                    a.navbar-brand(href="/home")
                        img(src="img/logo.png" alt="logo")
                    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                        span.menu_icon
                            i.fas.fa-bars
                    #navbarSupportedContent.collapse.navbar-collapse.main-menu-item
                        ul.navbar-nav
                            li.nav-item
                                a.nav-link(href="/home") Home
                            li.nav-item.dropdown
                                a#navbarDropdown_1.nav-link.dropdown-toggle(href="blog.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    | Shop
                                .dropdown-menu(aria-labelledby="navbarDropdown_1")
                                    a.dropdown-item(href="category.html")  shop category
                                    // <a class="dropdown-item" href="single-product.html">product details</a>
                                    //
                                        <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_3"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        pages
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="login.html"> login</a>
                                        <a class="dropdown-item" href="tracking.html">tracking</a>
                                        <a class="dropdown-item" href="checkout.html">product checkout</a>
                                        <a class="dropdown-item" href="cart.html">shopping cart</a>
                                        <a class="dropdown-item" href="confirmation.html">confirmation</a>
                                        <a class="dropdown-item" href="elements.html">elements</a>
                                        </div>
                                        </li>
                                    //
                                        <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_2"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        blog
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="blog.html"> blog</a>
                                        <a class="dropdown-item" href="single-blog.html">Single blog</a>
                                        </div>
                                        </li>
                                    li.nav-item
                                        a.nav-link(href="contact.html") Contact
                                .hearer_icon.d-flex
                                    a#search_1(href="javascript:void(0)")
                                        i.ti-search
                                    a(href="")
                                        i.ti-heart
                                    .dropdown.cart
                                        a#navbarDropdown3.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                            i.fas.fa-cart-plus
                                        //
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <div class="single_product">
                                            </div>
                                            </div>
                        #navbarSupportedContent.collapse.navbar-collapse.main-menu-item
                            ul.navbar-nav
                                li.nav-item
                                    a.nav-link(href="login.html") Login / Signup
    #search_input_box.search_input
        .container
            form.d-flex.justify-content-between.search-inner
                input#search_input.form-control(type="text" placeholder="Search Here")
                button.btn(type="submit")
                span#close_search.ti-close(title="Close Search")
// Header part end
