doctype html
html(lang="zxx")
    head
        block head
            // Required meta tags
            meta(charset="utf-8")
            meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
            link(rel="icon" href="/img/favicon.png")
            // Bootstrap CSS
            link(rel="stylesheet" href="/css/bootstrap.min.css")
            // animate CSS
            link(rel="stylesheet" href="/css/animate.css")
            // owl carousel CSS
            link(rel="stylesheet" href="/css/owl.carousel.min.css")
            link(rel="stylesheet" href="/css/lightslider.min.css")
            // font awesome CSS
            link(rel="stylesheet" href="/css/all.css")
            // flaticon CSS
            link(rel="stylesheet" href="/css/flaticon.css")
            link(rel="stylesheet" href="/css/themify-icons.css")
            // font awesome CSS
            link(rel="stylesheet" href="/css/magnific-popup.css")
            // swiper CSS
            link(rel="stylesheet" href="/css/slick.css")
            // style CSS
            link(rel="stylesheet" href="/css/style.css")
            title Hotzy-Store | #{title}

    body
        // HEADER starts here
        include _header

        // CONTENT
        block content
            h1 This is a placeholder

        // FOOTER
        include _footer

        // jquery plugins here
        script(src="/js/jquery-1.12.1.min.js")
        // popper js
        script(src="/js/popper.min.js")
        // bootstrap js
        script(src="/js/bootstrap.min.js")
        // easing js
        script(src="/js/jquery.magnific-popup.js")
        // swiper js
        script(src="/js/swiper.min.js")
        // swiper js
        script(src="/js/masonry.pkgd.js")
        // particles js
        script(src="/js/owl.carousel.min.js")
        script(src="/js/jquery.nice-select.min.js")
        // slick js
        script(src="/js/slick.min.js")
        script(src="/js/jquery.counterup.min.js")
        script(src="/js/waypoints.min.js")
        script(src="/js/contact.js")
        script(src="/js/jquery.ajaxchimp.min.js")
        script(src="/js/jquery.form.js")
        script(src="/js/jquery.validate.min.js")
        script(src="/js/mail-script.js")
        // custom js
        script(src="/js/custom.js")
        script(src='/js-utils/bundle.js')


