extends base

block content
  section.cart_area.padding_top
    .container
      .cart_inner
        .table-responsive
          if products
            table.table
              thead
                tr
                  th(scope="col").text-center Product
                  th(scope="col").text-center Price
                  th(scope="col").text-center Quantity
                  //- th(scope="col").text-center Total
              tbody.text-center
                each prod in products
                  tr.text-center
                    td.text-center
                      .media.text-center
                        .d-flex.text-center
                          img(src="img/product/single-product/cart-1.jpg" alt="")
                        .media-body.text-center
                          p.text-center= prod.item.name
                    td.text-center
                      h5.text-center $ #{prod.item.price}
                    td.text-center
                      h5.text-center= prod.qty
                tr
                  td
                  td
                    h5 Subtotal
                  td
                    h5 $ #{totalPrice}
                //- tr.shipping_area
                  td
                  td
                  td
                    h5 Shipping
                  td
                    .shipping_box
                      ul.list
                        li
                          a(href="#") Flat Rate: $5.00
                        li
                          a(href="#") Free Shipping
                        li
                          a(href="#") Flat Rate: $10.00
                        li.active
                          a(href="#") Local Delivery: $2.00
                      h6
                        | Calculate Shipping
                        i.fa.fa-caret-down(aria-hidden="true")
                      select.shipping_select
                        option(value="1") Bangladesh
                        option(value="2") India
                        option(value="4") Pakistan
                      select.shipping_select.section_bg
                        option(value="1") Select a State
                        option(value="2") Select a State
                        option(value="4") Select a State
                      input(type="text" placeholder="Postcode/Zipcode")
                      a.btn_1(href="#") Update Details
            .checkout_btn_inner.float-right
              a.btn_1(href="/") Continue Shopping
              a.btn_1.checkout_btn_1(href="/checkout") Proceed to checkout
          else
            table.table
              thead
                tr
                  th(scope="col").text-center Product
                  th(scope="col").text-center Price
                  th(scope="col").text-center Quantity
                  //- th(scope="col").text-center Total
              tbody.text-center
                tr.text-center
                  td.text-center
                    h5 NO ITEM FOUND IN CART. 
                  td
                    a.btn_1(href="/")  Visit Store
                  td

  // ================End Cart Area =================
