extends base

block content
    // ================Tracking Box Area =================
    section.tracking_box_area.padding_top
        .container
            .row.align-items-center
                .col-lg-12.align-items-center
                    .tracking_box_inner
                        p
                            | Kindly enter your &quot;New Password&quot;  to recover your account fully.

                        form.row.tracking_form.reset(action="#" method="post" novalidate="novalidate")
                            .col-md-12.form-group.text-center
                                input#password.form-control(type="password" name="password" placeholder="Password")
                            .col-md-12.form-group.text-center
                                input#passwordConfirm.form-control(type="password" name="passwordConfirm" placeholder="Confirm Password")
                                //- input#token.form-control(type="hidden" name="token" value= tokenFetched)
                            .col-md-12.form-group.text-center
                                button.btn_3(type="submit" value="submit") Submit
    // ================End Tracking Box Area =================
